<app-post-card></app-post-card>
<app-task-list></app-task-list>
<app-user-list></app-user-list>
<app-signal-binding></app-signal-binding>
<app-live-search></app-live-search>
<app-simple-form></app-simple-form>
<app-display-data></app-display-data>
<app-edit-data></app-edit-data>
<app-reset-form></app-reset-form>
<app-card>
  <p class="highlighted-text">This is highlighted content inside the card body!</p>
</app-card>
<app-content-switcher>
  <app-content-switcher>
    <div optionOne>
      <p>This is Option One content!</p>
    </div>
    <div optionTwo>
      <p>This is Option Two content!</p>
    </div>
  </app-content-switcher>
</app-content-switcher>
<app-event></app-event>
<app-product></app-product>
<app-message></app-message>
<app-product-list></app-product-list>
<app-task></app-task>
<app-weather></app-weather>
